<div class="container mt-5">
    <app-titulo [title]="'Cadastro Categoria'" [iconClass]="'fa fa-tasks'"></app-titulo>

    <div class="card rounded shadow-sm">

        <form [formGroup]="form">
            <div class="form-row">
                <div class="form-group mt-3 col-5 p-3">
                    <!-- <input type="hidden" class="form-control" formControlName = "id"> -->
                    <label class="form-label" >Nome da Descrição</label>
                    <input type="text" placeholder="Informe a descrição" formControlName="descricao" class="form-control"
                    [ngClass]="cssValidator(f.descricao)">
                    <div *ngIf="f.descricao?.errors?.required" class="invalid-feedback">
                        descrição é obrigatoria!
                    </div>
                    <div *ngIf="f.descricao?.errors?.minlength" class="invalid-feedback">
                        descrição deve ter no minimo 4 caracteres
                    </div>
                    <div *ngIf="f.descricao?.errors?.maxlength" class="invalid-feedback">
                        descrição deve ter no máximo 50 caracteres
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="d-flex mt-3">
                    <button class="btn btn-success w-10 mx-1" [disabled]="!form.valid" (click)="salvarCategoria()">Gravar</button>
                    <a class="btn btn-info w-10" [routerLink]="['/categoria/cadastro']" >voltar</a>
                </div>                
            </div>

        </form>

    </div>
</div>