<div class="container mt-5">
    <button class="btn btn-success w-100">Cadastrar nova Categoria</button>
    <div>
        <label class="form-label">Pesquisar</label>
        <input class="form-control" type="text" placeholder="Qual a categoria deseja buscar" [(ngModel)]="filtroLista"/>
    </div>

    <table class="table table-hover table-bordered mt-5 ">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @if (categorias && categorias.length) 
            {
                @for (categoria of categoriasFiltradas; track $index) 
                {
                    <tr>
                        <td>{{categoria.id}}</td>
                        <td>{{categoria.descricao}}</td>
                        <td>
                            <button class="btn btn-warning mx-2">Editar</button>
                            <button class="btn btn-info mx-2">Detalhes</button>
                            <button class="btn btn-danger mx-2">Excluir</button>
                        </td>
                    </tr>
                }    
            }
        </tbody>
        <tfoot> 
            @if (!categorias.length){ 
                <tr> 
                    <td colspan="3" class="text-center"> 
                        <h4>Nenhum registro encontrado</h4> 
                    </td> 
                </tr> 
            } 
        </tfoot>
    </table>
</div>
