.dropdown button.btn 
{ background-color: white; /* Define o fundo do botão como branco */ 
  color: black; /* Define a cor do texto como preto */
  border: 1px solid #ccc; /* Adiciona uma leve borda cinza */ 
  border-radius: 4px; /* Adiciona bordas arredondadas */
}

.dropdown-menu 
{ background-color: white; /* Define o fundo do menu como branco */ 
  color: black; /* Define a cor do texto como preto */ 
  border: 1px solid #ccc; /* Adiciona uma leve borda cinza */ 
  border-radius: 4px; /* Adiciona bordas arredondadas */ 
  width: 100%; /* Define a largura do menu como 100% do contêiner pai */
  width: auto; 
  min-width: 100px; /* Define um tamanho mínimo, se necessário */
}

.no-padding-left {
  padding-left: 0;
  padding-right:0;
}


.card-move-up {
  position: relative;
  top: -48px;
}

.margin-right-10px {
  margin-right: 10px;
}