<div class="container mt-5">
    <button class="btn btn-success w-100" [routerLink]="['/produtoServico/detalhes']" routerLinkActive="router-link-active">Cadastrar novo Produto/Serviço</button>

    <div class="card rounded shadow-sm p-3" id="card" >

        <div class="d-flex">
            <div class="flex-fill">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Pesquisar</div>     
                    </div>
                    
                    <input class="form-control" type="text" placeholder="Qual a produto/serviço deseja buscar" [(ngModel)]="filtroLista"/>
                </div>
            </div>
        </div>


        <table class="table table-hover table-bordered mt-5 ">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>imagem</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @if (produtosServicos && produtosServicos.length) 
                {
                    @for (produtoServico of produtosServicosFiltrados; track $index) 
                    {
                        <tr>
                            <td>{{produtoServico.id}}</td>
                            <td>{{produtoServico.descricao}}</td>
                            <td>
                                <img *ngIf="produtoServico.imagem" 
                                     [src]="produtoServico.imagem" alt="Imagem do Produto"
                                     style="width: 150px; margin: 2px; object-fit: cover;" />
                              </td>
                            <td>
                                <button class="btn btn-warning mx-2" [routerLink]="['/produtoServico/detalhes', produtoServico.id]" tooltip="Detalhes">
                                    <i class="fa fa-edit"></i>  
                                    </button>
                                <button class="btn btn-danger mx-2" (click)="openModal($event, template, produtoServico.id!)" tooltip="Excluir">
                                <i class="fa fa-trash"></i>
                                    </button>
                            </td>
                        </tr>
                    }    
                }@else {
                    <tr> 
                        <td colspan="4" class="text-center"> 
                            <h4>Nenhum registro encontrado</h4> 
                        </td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <ng-template #template>
        <div class="modal-body text-center">
          <p>Tem certeza que quer deletar a categoria?</p>
          <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
          <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
        </div>
    </ng-template>

</div>

