<div class="card rounded shadow-sm" id="card">

    <form [formGroup]="form">
        <div class="p-3">
            <!-- <p>Form value: {{form.value | json}}</p>
            <p>Form valid: {{form.status| json}}</p> -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Empresa</label>
                    <input type="text" class="form-control" placeholder="Informe uma empresa"
                    [(ngModel)]="empresaFiltro"
                    [ngModelOptions]="{standalone: true}"
                    (input)="OnIputChangeEmpresa()"/>
                    <div class="dropdown-menu show"
                    *ngIf="empresasFiltradas?.length && !carregando">
                    <button
                    class="dropdown-item"
                    *ngFor="let empresa of empresasFiltradas"
                    (click)="selecionarEmpresa(empresa)">
                        {{empresa.razaoSocial}}
                    </button>
                    </div>
                    <div *ngIf="carregando" class="text-muted mt-2">carregando...</div>
                </div>
            </div>
            <div class="form-row d-flex">
                <div class="form-group col-md-6">
                    <label>Produto / Serviço</label>
                    <input type="text" 
                    class="form-control" 
                    placeholder="Informe descrição do produto ou serviço" 
                    [(ngModel)]="produtoServicoFiltro"
                    [ngModelOptions]="{standalone: true}"
                    (input)="onInputChangeProdutoServico()"/>
                    <div class="dropdown-menu show"
                    *ngIf="produtosServicosFiltrados?.length && !carregando">
                     <button
                     class="dropdown-item"
                     *ngFor="let produtoServico of produtosServicosFiltrados"
                     (click)="selecionarProdutoServico(produtoServico)"
                     >
                        {{produtoServico.descricao}}
                     </button>
                    </div>
                    <div *ngIf="carregando" class="text-muted mt-2">carregando...</div>
                </div>

                <div class="form-group col-md-5 idValor">
                <label>Valor</label>
                <input type="text"
                class="form-control"
                placeholder="Informe o Valor"
                [value]="formatarNumero(f.valorItem.value || 0)"
                (keydown)="permitirApenasNumeros($event)"
                [value]="formatarValorItem()"
                (input)="onInput($event)"
                (blur)="onBlur($event)"
                [ngClass]="cssValidator(f.valorItem)">
                        
                <div *ngIf="f.valorItem?.errors?.required && (f.valorItem.touched || f.valorItem.dirty)" class="invalid-feedback">
                    valor obrigatório
                </div>
                <div *ngIf="f.valorItem?.errors?.menorOuIgualZero && (f.valorItem.touched || f.valorItem.dirty)" class="invalid-feedback">
                    o valor deve ser maior que zero
                </div>
                </div>

            <div class="form-group">
                <label>Quantidade</label>
                <input type="number" class="form-control" 
                formControlName="quantidade"
                [ngClass]="cssValidator(f.quantidade)">
                <div *ngIf="f.quantidade?.errors?.required" class="invalid-feedback">
                    quantidade é obrigatoria
                </div>
            </div>
                
            </div>
            <div class="form-row d-flex">
                <div class="form-group col-md-8">
                    <label>Cliente</label>
                    <input type="text" class="form-control" 
                    placeholder="Informe o cliente" 
                    [(ngModel)]="clienteFiltro"
                    [ngModelOptions]="{standalone: true}"
                    (input)="onInputChangeCliente()"/>
                    <div class="dropdown-menu show"
                    *ngIf="clientesFiltrados?.length && !carregando">
                     <button
                     class="dropdown-item"
                     *ngFor="let cliente of clientesFiltrados"
                     (click)="selecionarCliente(cliente)"
                     >
                        {{cliente.pessoa.nome}}
                     </button>
                    </div>
                    <div *ngIf="carregando" class="text-muted mt-2">carregando...</div>
                </div>
                <div class="form-group col-md-4 dataHora">
                    <label>Data e Hora</label>
                    <input type="text" class="form-control" 
                    placeholder="Informe data e hora" 
                    formControlName="dataLancamento" 
                    [bsConfig]="bsConfig"
                    [ngClass]="cssValidator(f.dataLancamento)"
                    bsDatepicker>
                    <div *ngIf="f.dataLancamento?.errors?.required" class="invalid-feedback">
                        data de lancamento é obrigatorio
                    </div>
                </div>
            </div>
            <div class="form-row d-flex">
                <div class="form-group col-md-12">
                    <label>Conta Contabil</label>
                    <input type="text" class="form-control" 
                    placeholder="Informe conta contabil"
                    [(ngModel)]="contaContabilFiltro"
                    [ngModelOptions]="{standalone: true}"
                    (input)="onInputChangeContaContabil()"/>
                    <div class="dropdown-menu show"
                    *ngIf="contaContabilFiltrados?.length && !carregando">
                     <button
                     class="dropdown-item"
                     *ngFor="let contaContabil of contaContabilFiltrados"
                     (click)="selecionarContaContabil(contaContabil)"
                     >
                        {{contaContabil.descricao}}
                     </button>
                    </div>
                    <!-- <div *ngIf="f.contaContabil?.errors?.required" class="invalid-feedback">
                        conta contabil é obrigatorio
                    </div> -->
                </div>
            </div>
            <div class="form-row d-flex">
                <div class="form-group col-md-12">
                    <label>observação</label>
                    <input type="text" class="form-control" placeholder="Informe observação" 
                    formControlName="observacao"
                    [ngClass]="cssValidator(f.observacao)">
                    <div *ngIf="f.observacao?.errors?.required" class="invalid-feedback">
                        observação é obrigatorio
                    </div>
                    <div *ngIf="f.observacao?.errors?.minlength" class="invalid-feedback">
                        observação deve ter no minimo 10 caracteres
                    </div>
                    <div *ngIf="f.observacao?.errors?.maxlength" class="invalid-feedback">
                        observação deve ter no maximo 300 caracteres
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary mr-auto border" (click)="form.reset()">
                    Cancelar Alteração
                </button>
                <div>
                    <a class="btn btn-info" style="width: 180px; margin-right: 10px;" [routerLink]="['/lancamento/cadastro']" >voltar</a>
                    <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarLancamento()">
                        <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                        Salvar Lançamento
                    </button>
                </div>
            </div>
        </div>

    </form>

</div>

