<nav class="navbar navbar-expand-lg bg-body-tertiary bg-white shadow-sm" *ngIf="showMenu()">
  <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fa fa-users mb-2"></i>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!--<ng-component *ngIf="(isLoggedIn$ | async)">-->
              <li class="nav-item dropdown" [ngClass]="{'d-none': !(isLoggedIn$ | async)}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cadastro Basico
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" aria-current="page" [routerLink]="['/categoria/cadastro']">Cadastro Categoria</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/produtoServico/cadastro']">Produto/Serviço</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/empresa/cadastro']">Cadastro Empresa</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/cidade/cadastro']">Cadastro Cidades</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/cliente/cadastro']">Cadastro Clientes</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/pessoa/cadastro']">Cadastro Pessoa</a>
                    </li>
                  <li><div class="dropdown-divider"></div>Financeiro</li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/grupoConta/cadastro']">Grupo Conta</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/contaContabil/cadastro']">Conta Contabil</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item" routerLinkActive="active" [ngClass]="{'d-none': !(isLoggedIn$ | async)}">
                  <a class="nav-link" [routerLink]="['/lancamento/cadastro']">Lançamento</a>
              </li>
              <li class="nav-item dropdown" [ngClass]="{'d-none': !(isLoggedIn$ | async)}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Relatório
                    </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="nav-item" routerLinkActive="active" >
                        <a class="nav-link" [routerLink]="['/lancamento/emissao']">Relatório Lancamento</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" >
                        <a class="nav-link" [routerLink]="['/categoria/emissao']">Relatório Categoria</a>
                    </li>
                  </ul>
              </li>
           <!-- </ng-component>-->
              
          </ul>   
          <!-- Dropdown de Perfil de Usuário -->
          <ul class="navbar-nav ms-auto">

            <div *ngIf="!(isLoggedIn$ | async)" class="navbar-nav mr-3 d-xs-none d-node d-md-block">
                <a class="btn btn-light mr-2 border" routerLink="/user/login">Entrar</a>
                <a class="btn btn-warning margem" routerLink="/user/registration">Me Cadastrar</a>
              </div>

              <li *ngIf="(isLoggedIn$ | async)" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Perfil de Usuário
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" [routerLink]="['/user/perfil']">Perfil</a></li>
                      <li><a class="dropdown-item" href="#">Configurações</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a (click)="logout()" class="dropdown-item">Sair</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>
